:root {
  font-size: 62.5%;
}
body {
  margin: 0;
  background: #eee;
  font-size: 1.6rem;
}

.items {
  background: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem;
}

.title {
  color: #666;
  font-style: italic;
}

pre {
  padding: 10px;
  padding-left: -40px;
  background: #2d2d2d;
  color: #eee;
  line-height: 1.8;
  font-size: 1.8rem;
}